<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Encoders are assigned the type ch.qos.logback.classic.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{48} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- The level of root is set to DEBUG by default -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Hide the "Slf4jLogger started" log -->
  <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />
  <!-- <logger name="suiryc" level="DEBUG" /> -->
  <!-- <logger name="org.apache.http" level="DEBUG" /> -->
  <!-- <logger name="akka" level="INFO" /> -->
  <!-- <logger name="org.apache.http" level="INFO" /> -->
  <!-- <logger name="org.apache.http.wire" level="INFO" /> -->
  <!-- <logger name="org.apache.http.impl.nio.client" level="INFO" /> -->
  <!-- <logger name="org.apache.http.impl.nio.conn.ManagedNHttpClientConnectionImpl" level="INFO" /> -->

</configuration>
